.input-div{
    display: flex;
    flex-direction: column;
}
.input-div>label{
    padding-bottom: 10px;
}
.input-div>select{
color: rgb(143, 143, 143);
background: #FAFAFA 0% 0% no-repeat padding-box;
border: 1px solid #D9D9D9;
border-radius: 5px;
height: 45px;
padding: 10px;

}