*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.main-container{
    display: flex; 
    height: 100vh;
    width: 100%;
    background-color: white;
    
}

.subsection-left{
    width:60%;

    background-color: rgba(230,247,253,255);
    margin: 20px 0px 20px 20px;
   
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.subsection-right{
    width:50%;
   position: relative;
    margin-left: 10%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space space-evenly;
  
}

.login-logo{
    width: 80%;
    
}
.login-logo>img{
    height: 50px;
    object-fit: contain;
    margin: 25px;
}
.login-input{
    width: 80%;
}

.submit-button{
    width:80%
}
.circular-bg>img{
    object-fit: contain;
    background-color: white;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: solid 20px white;
}

.error{
    font-size: x-small;
    color: red;
    display: flex;
    justify-content: center;
}

.login-input>.input-div>input::placeholder {
    color:  black;
    opacity: 1;
    font-weight: bold;

}

.login-input>.input-div>input:focus::placeholder {
    color: transparent
}
.login-input>.input-div>input:focus {
    border:2px solid rgb(170, 170, 170);
    outline-style: none; 
    caret-color: rgb(64, 189, 238);
  
}

button:hover {
    background-color: rgb(9, 139, 179);
    color:white;
}

.login-input>.input-div{
    position: relative;
    margin-bottom: 20px;
  }
  .login-input>.input-div>input{
    background-color: white;
    border: 2px solid #D9D9D9;
    margin-bottom: 15px;
  }
  
  .login-input>.input-div>label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 20%;
    transition: top 0.3s;
    color: transparent;
  }
  
 .login-input>.input-div>label.focused{
    top: 2px;
    font-size: 14px;
    padding: 3px;
    background-color: white;
    color: rgb(64, 189, 238);
    transform: translateY(-50%);
    transition: top 0.3s, font-size 0.3s;
  }
  
  @media only screen and (max-width: 1500px) {
  
    .circular-bg>img{
        
        height: 450px;
        width: 450px;
      
    }
    form>*{
        width:80%;
     
    }

    .subsection-right>img{
    width:150px;
    
}
.subsection-right{
    
    margin-left: 10%;
    margin-top: 18%;
}

  }
@media only screen and (max-width: 1024px) {
  
    .circular-bg>img{
        
        height: 400px;
        width: 400px;
      
    }
    form>*{
        width:65%;
     
    }

    .subsection-right>img{
    width:140px;
    
}
.subsection-right{
    
    margin-left: 10%;
    margin-top: 20%;
}

  }

/* --------------------------css for create employee page-------------------------------------------------------------------*/
