.button-class{
    width:100%;
    margin-left:150px
}
button{
    background-color: rgb(34, 181, 226);
 color:white;
 border:0px;
 font-weight: bold;
 width:80%;
 height:50px;
 margin-top:30px;
 border-radius:5px;
 border: 1px solid rgb(190, 190, 190);
 padding: 10px;

}
