/* .sub-heading{
    margin:15px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px lightgray;
    width:98%;
    height:100px;
    background-color: white;
    padding: 35px;

} */

.sub-header{
    margin:15px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0px lightgray;
   
    height:100px;
    background-color: white;
    /* margin-left: 16%; */
    display: flex;
    position: relative;
}
.sub-header>h2{
    padding:40px;
    font-size: large;
    font-weight:  bold;
    /* font-family:"Nunito sans"; */
}
.circular-icon-header{
    background-color: #03AEEE;
    border-radius: 50%;
   
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 25px;
    color: white;
   
}
.header-button{
    float:right;
    display:flex;
    position: absolute;
    right: 0px;
    margin: 25px;
    background-color: #EAF9FF;
    border-radius: 50px;
    align-items: center;
}
.header-button>h6{
    font-size: small;
    font-weight: lighter;
    padding: 15px;
    padding-right: 20px;
    
}
