

.blank-container{ 
    width: calc(100% + 5px);
    height:82.2px;
    background-color: white;
    margin-left: -5px;
    position: fixed;
}
.bottom{
   width: calc(100% + 20px);
    height:61px;
    background-color: white;
    border: 1px solid #707070;
    position: absolute;
    bottom: 90px;
}